app/base/xmlschema/api.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--W3C Schema generated by XMLSpy v2007 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="apilist">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="module" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="module">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="api" maxOccurs="unbounded"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
            <xs:attribute name="class" type="xs:string"/>
        </xs:complexType>
    </xs:element>
    <xs:element name="api">
        <xs:complexType>
            <xs:attribute name="function" type="xs:string"/>
        </xs:complexType>
    </xs:element>
</xs:schema>
